info:
    title: Schematic API
    version: "0.1"
    description: Schematic API
openapi: 3.0.0
security:
    - ApiKeyAuth: []
servers:
    - url: https://api.schematichq.com
components:
    securitySchemes:
        ApiKeyAuth:
            type: apiKey
            in: header
            name: X-Schematic-Api-Key
    responses:
        BadRequest:
            description: Bad request
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ApiError'
        Conflict:
            description: Conflict
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ApiError'
        Forbidden:
            description: Forbidden
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ApiError'
        NotFound:
            description: Not found
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ApiError'
        ServerError:
            description: Server error
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ApiError'
        Unauthorized:
            description: Unauthorized
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ApiError'
        UnprocessableEntity:
            description: Unprocessable entity
            content:
                application/json:
                    schema:
                        $ref: '#/components/schemas/ApiError'
    schemas:
        ApiError:
            type: object
            properties:
                error:
                    type: string
                    description: Error message
            required:
                - error
        ApiKeyCreateResponseData:
            type: object
            description: The created resource
            properties:
                created_at:
                    type: string
                    format: date-time
                description:
                    type: string
                    nullable: true
                environment_id:
                    type: string
                    nullable: true
                id:
                    type: string
                last_used_at:
                    type: string
                    format: date-time
                    nullable: true
                name:
                    type: string
                scopes:
                    type: array
                    items:
                        type: string
                secret:
                    type: string
                updated_at:
                    type: string
                    format: date-time
            required:
                - id
                - name
                - scopes
                - created_at
                - updated_at
                - secret
            title: ApiKeyCreateResponseData
        ApiKeyRequestListResponseData:
            type: object
            properties:
                api_key_id:
                    type: string
                ended_at:
                    type: string
                    format: date-time
                    nullable: true
                environment_id:
                    type: string
                    nullable: true
                id:
                    type: string
                method:
                    type: string
                req_body:
                    type: string
                    nullable: true
                resp_code:
                    type: integer
                    nullable: true
                started_at:
                    type: string
                    format: date-time
                url:
                    type: string
            required:
                - api_key_id
                - method
                - id
                - started_at
                - url
            title: ApiKeyRequestListResponseData
        ApiKeyRequestResponseData:
            type: object
            description: The returned resource
            properties:
                api_key_id:
                    type: string
                ended_at:
                    type: string
                    format: date-time
                    nullable: true
                environment_id:
                    type: string
                    nullable: true
                id:
                    type: string
                method:
                    type: string
                req_body:
                    type: string
                    nullable: true
                resp_body:
                    type: string
                    nullable: true
                resp_code:
                    type: integer
                    nullable: true
                started_at:
                    type: string
                    format: date-time
                url:
                    type: string
                user_agent:
                    type: string
                    nullable: true
            required:
                - api_key_id
                - method
                - id
                - started_at
                - url
            title: ApiKeyRequestResponseData
        ApiKeyResponseData:
            type: object
            description: The updated resource
            properties:
                created_at:
                    type: string
                    format: date-time
                description:
                    type: string
                    nullable: true
                environment_id:
                    type: string
                    nullable: true
                id:
                    type: string
                last_used_at:
                    type: string
                    format: date-time
                    nullable: true
                name:
                    type: string
                scopes:
                    type: array
                    items:
                        type: string
                updated_at:
                    type: string
                    format: date-time
            required:
                - id
                - name
                - scopes
                - created_at
                - updated_at
            title: ApiKeyResponseData
        AudienceRequestBody:
            type: object
            properties:
                condition_groups:
                    type: array
                    items:
                        $ref: '#/components/schemas/CreateOrUpdateConditionGroupRequestBody'
                conditions:
                    type: array
                    items:
                        $ref: '#/components/schemas/CreateOrUpdateConditionRequestBody'
                limit:
                    type: integer
                    description: Page limit (default 100)
                    nullable: true
                offset:
                    type: integer
                    description: Page offset (default 0)
                    nullable: true
                q:
                    type: string
                    nullable: true
            required:
                - conditions
                - condition_groups
            title: AudienceRequestBody
        CheckFlagOutputWithFlagKey:
            type: object
            properties:
                company_id:
                    type: string
                    nullable: true
                error:
                    type: string
                    nullable: true
                flag:
                    type: string
                reason:
                    type: string
                rule_id:
                    type: string
                    nullable: true
                user_id:
                    type: string
                    nullable: true
                value:
                    type: boolean
            required:
                - reason
                - value
                - flag
            title: CheckFlagOutputWithFlagKey
        CheckFlagRequestBody:
            type: object
            properties:
                company:
                    type: object
                    nullable: true
                user:
                    type: object
                    nullable: true
            title: CheckFlagRequestBody
        CheckFlagResponseData:
            type: object
            description: The returned resource
            properties:
                company_id:
                    type: string
                    nullable: true
                error:
                    type: string
                    nullable: true
                reason:
                    type: string
                rule_id:
                    type: string
                    nullable: true
                user_id:
                    type: string
                    nullable: true
                value:
                    type: boolean
            required:
                - reason
                - value
            title: CheckFlagResponseData
        CheckFlagsResponseData:
            type: object
            description: The created resource
            properties:
                flags:
                    type: array
                    items:
                        $ref: '#/components/schemas/CheckFlagOutputWithFlagKey'
            required:
                - flags
            title: CheckFlagsResponseData
        CompanyDetailResponseData:
            type: object
            properties:
                created_at:
                    type: string
                    format: date-time
                environment_id:
                    type: string
                id:
                    type: string
                keys:
                    type: array
                    items:
                        $ref: '#/components/schemas/EntityKeyResponseData'
                last_seen_at:
                    type: string
                    format: date-time
                    nullable: true
                name:
                    type: string
                traits:
                    type: object
                    description: A map of trait names to trait values
                updated_at:
                    type: string
                    format: date-time
            required:
                - id
                - environment_id
                - name
                - created_at
                - updated_at
                - keys
            title: CompanyDetailResponseData
        CompanyMembershipDetailResponseData:
            type: object
            properties:
                company:
                    $ref: '#/components/schemas/CompanyResponseData'
                company_id:
                    type: string
                created_at:
                    type: string
                    format: date-time
                id:
                    type: string
                updated_at:
                    type: string
                    format: date-time
                user_id:
                    type: string
            required:
                - id
                - company_id
                - user_id
                - created_at
                - updated_at
            title: CompanyMembershipDetailResponseData
        CompanyMembershipResponseData:
            type: object
            properties:
                company_id:
                    type: string
                created_at:
                    type: string
                    format: date-time
                id:
                    type: string
                updated_at:
                    type: string
                    format: date-time
                user_id:
                    type: string
            required:
                - id
                - company_id
                - user_id
                - created_at
                - updated_at
            title: CompanyMembershipResponseData
        CompanyOverrideResponseData:
            type: object
            description: The updated resource
            properties:
                company_id:
                    type: string
                created_at:
                    type: string
                    format: date-time
                environment_id:
                    type: string
                feature_id:
                    type: string
                id:
                    type: string
                metric_period:
                    type: string
                    nullable: true
                rule_id:
                    type: string
                updated_at:
                    type: string
                    format: date-time
                value_bool:
                    type: boolean
                    nullable: true
                value_numeric:
                    type: integer
                    nullable: true
                value_trait_id:
                    type: string
                    nullable: true
                value_type:
                    type: string
            required:
                - id
                - environment_id
                - feature_id
                - company_id
                - rule_id
                - value_type
                - created_at
                - updated_at
            title: CompanyOverrideResponseData
        CompanyPlanResponseData:
            type: object
            properties:
                company_id:
                    type: string
                created_at:
                    type: string
                    format: date-time
                environment_id:
                    type: string
                id:
                    type: string
                plan_id:
                    type: string
                updated_at:
                    type: string
                    format: date-time
            required:
                - id
                - environment_id
                - company_id
                - plan_id
                - created_at
                - updated_at
            title: CompanyPlanResponseData
        CompanyResponseData:
            type: object
            properties:
                created_at:
                    type: string
                    format: date-time
                environment_id:
                    type: string
                id:
                    type: string
                last_seen_at:
                    type: string
                    format: date-time
                    nullable: true
                name:
                    type: string
                updated_at:
                    type: string
                    format: date-time
            required:
                - id
                - environment_id
                - name
                - created_at
                - updated_at
            title: CompanyResponseData
        CountResponse:
            type: object
            description: The created resource
            properties:
                count:
                    type: integer
            required:
                - count
            title: CountResponse
        CreateApiKeyRequestBody:
            type: object
            properties:
                description:
                    type: string
                    nullable: true
                environment_id:
                    type: string
                    nullable: true
                name:
                    type: string
            required:
                - name
            title: CreateApiKeyRequestBody
        CreateCompanyOverrideRequestBody:
            type: object
            properties:
                company_id:
                    type: string
                feature_id:
                    type: string
                metric_period:
                    type: string
                    nullable: true
                value_bool:
                    type: boolean
                    nullable: true
                value_numeric:
                    type: integer
                    nullable: true
                value_trait_id:
                    type: string
                    nullable: true
                value_type:
                    type: string
            required:
                - company_id
                - feature_id
                - value_type
            title: CreateCompanyOverrideRequestBody
        CreateEnvironmentRequestBody:
            type: object
            properties:
                environment_type:
                    type: string
                name:
                    type: string
            required:
                - name
                - environment_type
            title: CreateEnvironmentRequestBody
        CreateEventRequestBody:
            type: object
            properties:
                body:
                    type: object
                    oneOf:
                        - type: object
                          properties:
                            company:
                                type: object
                                description: Key-value pairs to identify company associated with track event
                            event:
                                type: string
                                description: The name of the type of track event
                            traits:
                                type: object
                                description: A map of trait names to trait values
                            user:
                                type: object
                                description: Key-value pairs to identify user associated with track event
                          required:
                            - event
                          title: EventBodyTrack
                        - type: object
                          properties:
                            company:
                                type: object
                                description: Information about the company associated with the user; required only if it is a new user
                                properties:
                                    keys:
                                        type: object
                                        description: Key-value pairs to identify the company
                                    name:
                                        type: string
                                        description: The display name of the company; required only if it is a new company
                                    traits:
                                        type: object
                                        description: A map of company trait names to trait values
                                required:
                                    - keys
                                title: EventBodyIdentifyCompany
                            keys:
                                type: object
                                description: Key-value pairs to identify the user
                            name:
                                type: string
                                description: The display name of the user being identified; required only if it is a new user
                            traits:
                                type: object
                                description: A map of user trait names to trait values
                          required:
                            - keys
                          title: EventBodyIdentify
                    title: EventBody
                event_type:
                    type: string
                    description: Either 'identify' or 'track'
                sent_at:
                    type: string
                    description: Optionally provide a timestamp at which the event was sent to Schematic
                    format: date-time
                    nullable: true
            required:
                - event_type
            title: CreateEventRequestBody
        CreateFeatureRequestBody:
            type: object
            properties:
                description:
                    type: string
                event_subtype:
                    type: string
                    nullable: true
                feature_type:
                    type: string
                flag:
                    $ref: '#/components/schemas/CreateOrUpdateFlagRequestBody'
                lifecycle_phase:
                    type: string
                    nullable: true
                name:
                    type: string
                trait_id:
                    type: string
                    nullable: true
            required:
                - description
                - feature_type
                - name
            title: CreateFeatureRequestBody
        CreateFlagRequestBody:
            type: object
            properties:
                default_value:
                    type: boolean
                description:
                    type: string
                feature_id:
                    type: string
                    nullable: true
                flag_type:
                    type: string
                key:
                    type: string
                name:
                    type: string
            required:
                - default_value
                - description
                - flag_type
                - key
                - name
            title: CreateFlagRequestBody
        CreateOrUpdateConditionGroupRequestBody:
            type: object
            properties:
                conditions:
                    type: array
                    items:
                        $ref: '#/components/schemas/CreateOrUpdateConditionRequestBody'
                flag_id:
                    type: string
                    nullable: true
                id:
                    type: string
                    nullable: true
                plan_id:
                    type: string
                    nullable: true
            required:
                - conditions
            title: CreateOrUpdateConditionGroupRequestBody
        CreateOrUpdateConditionRequestBody:
            type: object
            properties:
                comparison_trait_id:
                    type: string
                    description: Optionally provide a trait ID to compare a metric or trait value against instead of a value
                    nullable: true
                condition_type:
                    type: string
                event_subtype:
                    type: string
                    description: Name of track event type used to measure this condition
                    nullable: true
                id:
                    type: string
                    nullable: true
                metric_period:
                    type: string
                    description: Period of time over which to measure the track event metric
                    nullable: true
                metric_value:
                    type: integer
                    description: Value to compare the track event metric against
                operator:
                    type: string
                resource_ids:
                    type: array
                    description: List of resource IDs (companise, users, or plans) targeted by this condition
                    items:
                        type: string
                trait_id:
                    type: string
                    description: ID of trait to use to measure this condition
                    nullable: true
                trait_value:
                    type: string
                    description: Value to compare the trait value against
                    nullable: true
            required:
                - condition_type
                - operator
                - resource_ids
                - metric_value
            title: CreateOrUpdateConditionRequestBody
        CreateOrUpdateFlagRequestBody:
            type: object
            properties:
                default_value:
                    type: boolean
                description:
                    type: string
                feature_id:
                    type: string
                    nullable: true
                flag_type:
                    type: string
                id:
                    type: string
                    nullable: true
                key:
                    type: string
                name:
                    type: string
            required:
                - default_value
                - description
                - flag_type
                - key
                - name
            title: CreateOrUpdateFlagRequestBody
        CreateOrUpdateRuleRequestBody:
            type: object
            properties:
                condition_groups:
                    type: array
                    items:
                        $ref: '#/components/schemas/CreateOrUpdateConditionGroupRequestBody'
                conditions:
                    type: array
                    items:
                        $ref: '#/components/schemas/CreateOrUpdateConditionRequestBody'
                id:
                    type: string
                    nullable: true
                name:
                    type: string
                priority:
                    type: integer
                priority_group:
                    type: integer
                    nullable: true
                value:
                    type: boolean
            required:
                - condition_groups
                - conditions
                - name
                - priority
                - value
            title: CreateOrUpdateRuleRequestBody
        CreatePlanEntitlementRequestBody:
            type: object
            properties:
                feature_id:
                    type: string
                metric_period:
                    type: string
                    nullable: true
                plan_id:
                    type: string
                value_bool:
                    type: boolean
                    nullable: true
                value_numeric:
                    type: integer
                    nullable: true
                value_trait_id:
                    type: string
                    nullable: true
                value_type:
                    type: string
            required:
                - plan_id
                - feature_id
                - value_type
            title: CreatePlanEntitlementRequestBody
        CreatePlanRequestBody:
            type: object
            properties:
                name:
                    type: string
            required:
                - name
            title: CreatePlanRequestBody
        CreateReqCommon:
            type: object
            properties:
                feature_id:
                    type: string
                metric_period:
                    type: string
                    nullable: true
                value_bool:
                    type: boolean
                    nullable: true
                value_numeric:
                    type: integer
                    nullable: true
                value_trait_id:
                    type: string
                    nullable: true
                value_type:
                    type: string
            required:
                - feature_id
                - value_type
            title: CreateReqCommon
        CreateRuleRequestBody:
            type: object
            properties:
                condition_groups:
                    type: array
                    items:
                        $ref: '#/components/schemas/CreateOrUpdateConditionGroupRequestBody'
                conditions:
                    type: array
                    items:
                        $ref: '#/components/schemas/CreateOrUpdateConditionRequestBody'
                flag_id:
                    type: string
                    nullable: true
                name:
                    type: string
                plan_id:
                    type: string
                    nullable: true
                priority:
                    type: integer
                priority_group:
                    type: integer
                    nullable: true
                value:
                    type: boolean
            required:
                - condition_groups
                - conditions
                - name
                - priority
                - value
            title: CreateRuleRequestBody
        DeleteResponse:
            type: object
            properties:
                deleted:
                    type: boolean
                    description: Whether the delete was successful
        EntityKeyResponseData:
            type: object
            properties:
                created_at:
                    type: string
                    format: date-time
                definition_id:
                    type: string
                entity_id:
                    type: string
                entity_type:
                    type: string
                environment_id:
                    type: string
                id:
                    type: string
                key:
                    type: string
                updated_at:
                    type: string
                    format: date-time
                value:
                    type: string
            required:
                - id
                - environment_id
                - definition_id
                - entity_type
                - entity_id
                - key
                - value
                - created_at
                - updated_at
            title: EntityKeyResponseData
        EntityTraitDefinitionResponseData:
            type: object
            description: The updated resource
            properties:
                created_at:
                    type: string
                    format: date-time
                entity_type:
                    type: string
                hierarchy:
                    type: array
                    items:
                        type: string
                id:
                    type: string
                trait_type:
                    type: string
                updated_at:
                    type: string
                    format: date-time
            required:
                - created_at
                - entity_type
                - hierarchy
                - id
                - trait_type
                - updated_at
            title: EntityTraitDefinitionResponseData
        EnvironmentDetailResponseData:
            type: object
            description: The created resource
            properties:
                api_keys:
                    type: array
                    items:
                        $ref: '#/components/schemas/ApiKeyResponseData'
                created_at:
                    type: string
                    format: date-time
                environment_type:
                    type: string
                id:
                    type: string
                name:
                    type: string
                updated_at:
                    type: string
                    format: date-time
            required:
                - id
                - name
                - environment_type
                - created_at
                - updated_at
                - api_keys
            title: EnvironmentDetailResponseData
        EnvironmentResponseData:
            type: object
            properties:
                created_at:
                    type: string
                    format: date-time
                environment_type:
                    type: string
                id:
                    type: string
                name:
                    type: string
                updated_at:
                    type: string
                    format: date-time
            required:
                - id
                - name
                - environment_type
                - created_at
                - updated_at
            title: EnvironmentResponseData
        EventResponseData:
            type: object
            properties:
                api_key:
                    type: string
                    nullable: true
                body:
                    type: object
                captured_at:
                    type: string
                    format: date-time
                company_id:
                    type: string
                    nullable: true
                enriched_at:
                    type: string
                    format: date-time
                    nullable: true
                environment_id:
                    type: string
                    nullable: true
                error_message:
                    type: string
                    nullable: true
                feature_id:
                    type: string
                    nullable: true
                id:
                    type: string
                loaded_at:
                    type: string
                    format: date-time
                    nullable: true
                processed_at:
                    type: string
                    format: date-time
                    nullable: true
                sent_at:
                    type: string
                    format: date-time
                    nullable: true
                status:
                    type: string
                subtype:
                    type: string
                    nullable: true
                type:
                    type: string
                updated_at:
                    type: string
                    format: date-time
                user_id:
                    type: string
                    nullable: true
            required:
                - body
                - captured_at
                - type
                - id
                - status
                - updated_at
            title: EventResponseData
        EventSummaryResponseData:
            type: object
            properties:
                environment_id:
                    type: string
                event_subtype:
                    type: string
                last_30_company_count:
                    type: integer
                last_30_count:
                    type: integer
                last_30_user_count:
                    type: integer
            required:
                - environment_id
                - event_subtype
                - last_30_count
                - last_30_company_count
                - last_30_user_count
            title: EventSummaryResponseData
        FeatureDetailResponseData:
            type: object
            description: The updated resource
            properties:
                created_at:
                    type: string
                    format: date-time
                description:
                    type: string
                event_subtype:
                    type: string
                    nullable: true
                event_summary:
                    $ref: '#/components/schemas/EventSummaryResponseData'
                feature_type:
                    type: string
                flags:
                    type: array
                    items:
                        $ref: '#/components/schemas/FlagDetailResponseData'
                id:
                    type: string
                lifecycle_phase:
                    type: string
                    nullable: true
                name:
                    type: string
                trait_id:
                    type: string
                    nullable: true
                updated_at:
                    type: string
                    format: date-time
            required:
                - id
                - name
                - description
                - feature_type
                - created_at
                - updated_at
                - flags
            title: FeatureDetailResponseData
        FeatureResponseData:
            type: object
            properties:
                created_at:
                    type: string
                    format: date-time
                description:
                    type: string
                event_subtype:
                    type: string
                    nullable: true
                feature_type:
                    type: string
                id:
                    type: string
                lifecycle_phase:
                    type: string
                    nullable: true
                name:
                    type: string
                trait_id:
                    type: string
                    nullable: true
                updated_at:
                    type: string
                    format: date-time
            required:
                - id
                - name
                - description
                - feature_type
                - created_at
                - updated_at
            title: FeatureResponseData
        FlagCheckLogDetailResponseData:
            type: object
            properties:
                check_status:
                    type: string
                company:
                    $ref: '#/components/schemas/CompanyResponseData'
                company_id:
                    type: string
                    nullable: true
                created_at:
                    type: string
                    format: date-time
                environment:
                    $ref: '#/components/schemas/EnvironmentResponseData'
                environment_id:
                    type: string
                error:
                    type: string
                    nullable: true
                flag:
                    $ref: '#/components/schemas/FlagResponseData'
                flag_id:
                    type: string
                    nullable: true
                flag_key:
                    type: string
                id:
                    type: string
                reason:
                    type: string
                req_company:
                    type: object
                    nullable: true
                req_user:
                    type: object
                    nullable: true
                rule:
                    $ref: '#/components/schemas/RuleResponseData'
                rule_id:
                    type: string
                    nullable: true
                updated_at:
                    type: string
                    format: date-time
                user:
                    $ref: '#/components/schemas/UserResponseData'
                user_id:
                    type: string
                    nullable: true
                value:
                    type: boolean
            required:
                - check_status
                - created_at
                - environment_id
                - flag_key
                - id
                - reason
                - updated_at
                - value
            title: FlagCheckLogDetailResponseData
        FlagCheckLogResponseData:
            type: object
            properties:
                check_status:
                    type: string
                company_id:
                    type: string
                    nullable: true
                created_at:
                    type: string
                    format: date-time
                environment_id:
                    type: string
                error:
                    type: string
                    nullable: true
                flag_id:
                    type: string
                    nullable: true
                flag_key:
                    type: string
                id:
                    type: string
                reason:
                    type: string
                req_company:
                    type: object
                    nullable: true
                req_user:
                    type: object
                    nullable: true
                rule_id:
                    type: string
                    nullable: true
                updated_at:
                    type: string
                    format: date-time
                user_id:
                    type: string
                    nullable: true
                value:
                    type: boolean
            required:
                - check_status
                - created_at
                - environment_id
                - flag_key
                - id
                - reason
                - updated_at
                - value
            title: FlagCheckLogResponseData
        FlagDetailResponseData:
            type: object
            description: The updated resource
            properties:
                created_at:
                    type: string
                    format: date-time
                default_value:
                    type: boolean
                description:
                    type: string
                feature_id:
                    type: string
                    nullable: true
                flag_type:
                    type: string
                id:
                    type: string
                key:
                    type: string
                name:
                    type: string
                rules:
                    type: array
                    items:
                        $ref: '#/components/schemas/RuleDetailResponseData'
                updated_at:
                    type: string
                    format: date-time
            required:
                - created_at
                - default_value
                - description
                - flag_type
                - id
                - key
                - name
                - updated_at
                - rules
            title: FlagDetailResponseData
        FlagResponseData:
            type: object
            properties:
                created_at:
                    type: string
                    format: date-time
                default_value:
                    type: boolean
                description:
                    type: string
                feature_id:
                    type: string
                    nullable: true
                flag_type:
                    type: string
                id:
                    type: string
                key:
                    type: string
                name:
                    type: string
                updated_at:
                    type: string
                    format: date-time
            required:
                - created_at
                - default_value
                - description
                - flag_type
                - id
                - key
                - name
                - updated_at
            title: FlagResponseData
        GetOrCreateCompanyMembershipRequestBody:
            type: object
            properties:
                company_id:
                    type: string
                user_id:
                    type: string
            required:
                - company_id
                - user_id
            title: GetOrCreateCompanyMembershipRequestBody
        MetricCountsHourlyResponseData:
            type: object
            properties:
                company_id:
                    type: string
                    nullable: true
                created_at:
                    type: string
                    format: date-time
                environment_id:
                    type: string
                event_subtype:
                    type: string
                start_time:
                    type: string
                    format: date-time
                user_id:
                    type: string
                    nullable: true
                value:
                    type: integer
            required:
                - environment_id
                - event_subtype
                - start_time
                - value
                - created_at
            title: MetricCountsHourlyResponseData
        PaginationFilter:
            type: object
            properties:
                limit:
                    type: integer
                    description: Page limit (default 100)
                    nullable: true
                offset:
                    type: integer
                    description: Page offset (default 0)
                    nullable: true
            title: PaginationFilter
        PlanEntitlementResponseData:
            type: object
            description: The updated resource
            properties:
                created_at:
                    type: string
                    format: date-time
                environment_id:
                    type: string
                feature_id:
                    type: string
                id:
                    type: string
                metric_period:
                    type: string
                    nullable: true
                plan_id:
                    type: string
                rule_id:
                    type: string
                updated_at:
                    type: string
                    format: date-time
                value_bool:
                    type: boolean
                    nullable: true
                value_numeric:
                    type: integer
                    nullable: true
                value_trait_id:
                    type: string
                    nullable: true
                value_type:
                    type: string
            required:
                - id
                - environment_id
                - feature_id
                - plan_id
                - rule_id
                - value_type
                - created_at
                - updated_at
            title: PlanEntitlementResponseData
        PlanResponseData:
            type: object
            description: The updated resource
            properties:
                created_at:
                    type: string
                    format: date-time
                id:
                    type: string
                name:
                    type: string
                updated_at:
                    type: string
                    format: date-time
            required:
                - id
                - name
                - created_at
                - updated_at
            title: PlanResponseData
        RawEventResponseData:
            type: object
            description: The created resource
            properties:
                captured_at:
                    type: string
                    format: date-time
                event:
                    type: string
                remote_addr:
                    type: string
                remote_ip:
                    type: string
                user_agent:
                    type: string
            required:
                - captured_at
                - event
                - remote_addr
                - remote_ip
                - user_agent
            title: RawEventResponseData
        RuleConditionGroupDetailResponseData:
            type: object
            properties:
                conditions:
                    type: array
                    items:
                        $ref: '#/components/schemas/RuleConditionResponseData'
                created_at:
                    type: string
                    format: date-time
                environment_id:
                    type: string
                flag_id:
                    type: string
                    nullable: true
                id:
                    type: string
                plan_id:
                    type: string
                    nullable: true
                rule_id:
                    type: string
                updated_at:
                    type: string
                    format: date-time
            required:
                - id
                - environment_id
                - rule_id
                - created_at
                - updated_at
                - conditions
            title: RuleConditionGroupDetailResponseData
        RuleConditionGroupResponseData:
            type: object
            properties:
                created_at:
                    type: string
                    format: date-time
                environment_id:
                    type: string
                flag_id:
                    type: string
                    nullable: true
                id:
                    type: string
                plan_id:
                    type: string
                    nullable: true
                rule_id:
                    type: string
                updated_at:
                    type: string
                    format: date-time
            required:
                - id
                - environment_id
                - rule_id
                - created_at
                - updated_at
            title: RuleConditionGroupResponseData
        RuleConditionResponseData:
            type: object
            properties:
                comparison_trait_id:
                    type: string
                    nullable: true
                condition_group_id:
                    type: string
                    nullable: true
                condition_type:
                    type: string
                created_at:
                    type: string
                    format: date-time
                environment_id:
                    type: string
                event_subtype:
                    type: string
                    nullable: true
                flag_id:
                    type: string
                    nullable: true
                id:
                    type: string
                metric_period:
                    type: string
                    nullable: true
                metric_value:
                    type: integer
                operator:
                    type: string
                plan_id:
                    type: string
                    nullable: true
                resource_ids:
                    type: array
                    items:
                        type: string
                rule_id:
                    type: string
                trait_entity_type:
                    type: string
                    nullable: true
                trait_id:
                    type: string
                    nullable: true
                trait_value:
                    type: string
                updated_at:
                    type: string
                    format: date-time
            required:
                - id
                - environment_id
                - rule_id
                - condition_type
                - operator
                - created_at
                - updated_at
                - resource_ids
                - metric_value
                - trait_value
            title: RuleConditionResponseData
        RuleDetailResponseData:
            type: object
            description: The updated resource
            properties:
                condition_groups:
                    type: array
                    items:
                        $ref: '#/components/schemas/RuleConditionGroupDetailResponseData'
                conditions:
                    type: array
                    items:
                        $ref: '#/components/schemas/RuleConditionResponseData'
                created_at:
                    type: string
                    format: date-time
                environment_id:
                    type: string
                flag_id:
                    type: string
                    nullable: true
                id:
                    type: string
                name:
                    type: string
                plan_id:
                    type: string
                    nullable: true
                priority:
                    type: integer
                priority_group:
                    type: integer
                    nullable: true
                updated_at:
                    type: string
                    format: date-time
                value:
                    type: boolean
            required:
                - id
                - environment_id
                - priority
                - name
                - value
                - created_at
                - updated_at
                - conditions
                - condition_groups
            title: RuleDetailResponseData
        RuleResponseData:
            type: object
            properties:
                created_at:
                    type: string
                    format: date-time
                environment_id:
                    type: string
                flag_id:
                    type: string
                    nullable: true
                id:
                    type: string
                name:
                    type: string
                plan_id:
                    type: string
                    nullable: true
                priority:
                    type: integer
                priority_group:
                    type: integer
                    nullable: true
                updated_at:
                    type: string
                    format: date-time
                value:
                    type: boolean
            required:
                - id
                - environment_id
                - priority
                - name
                - value
                - created_at
                - updated_at
            title: RuleResponseData
        RulesDetailResponseData:
            type: object
            description: The updated resource
            properties:
                rules:
                    type: array
                    items:
                        $ref: '#/components/schemas/RuleDetailResponseData'
            required:
                - rules
            title: RulesDetailResponseData
        UpdateApiKeyRequestBody:
            type: object
            properties:
                description:
                    type: string
                    nullable: true
                name:
                    type: string
                    nullable: true
            title: UpdateApiKeyRequestBody
        UpdateAudienceRequestBody:
            type: object
            properties:
                condition_groups:
                    type: array
                    items:
                        $ref: '#/components/schemas/CreateOrUpdateConditionGroupRequestBody'
                conditions:
                    type: array
                    items:
                        $ref: '#/components/schemas/CreateOrUpdateConditionRequestBody'
            required:
                - conditions
                - condition_groups
            title: UpdateAudienceRequestBody
        UpdateCompanyOverrideRequestBody:
            type: object
            properties:
                metric_period:
                    type: string
                    nullable: true
                value_bool:
                    type: boolean
                    nullable: true
                value_numeric:
                    type: integer
                    nullable: true
                value_trait_id:
                    type: string
                    nullable: true
                value_type:
                    type: string
            required:
                - value_type
            title: UpdateCompanyOverrideRequestBody
        UpdateEntityTraitDefinitionRequestBody:
            type: object
            properties:
                trait_type:
                    type: string
            required:
                - trait_type
            title: UpdateEntityTraitDefinitionRequestBody
        UpdateEnvironmentRequestBody:
            type: object
            properties:
                environment_type:
                    type: string
                    nullable: true
                name:
                    type: string
                    nullable: true
            title: UpdateEnvironmentRequestBody
        UpdateFeatureRequestBody:
            type: object
            properties:
                description:
                    type: string
                    nullable: true
                event_subtype:
                    type: string
                    nullable: true
                feature_type:
                    type: string
                    nullable: true
                flag:
                    $ref: '#/components/schemas/CreateOrUpdateFlagRequestBody'
                lifecycle_phase:
                    type: string
                    nullable: true
                name:
                    type: string
                    nullable: true
                trait_id:
                    type: string
                    nullable: true
            title: UpdateFeatureRequestBody
        UpdateFlagRulesRequestBody:
            type: object
            properties:
                rules:
                    type: array
                    items:
                        $ref: '#/components/schemas/CreateOrUpdateRuleRequestBody'
            required:
                - rules
            title: UpdateFlagRulesRequestBody
        UpdatePlanEntitlementRequestBody:
            type: object
            properties:
                metric_period:
                    type: string
                    nullable: true
                value_bool:
                    type: boolean
                    nullable: true
                value_numeric:
                    type: integer
                    nullable: true
                value_trait_id:
                    type: string
                    nullable: true
                value_type:
                    type: string
            required:
                - value_type
            title: UpdatePlanEntitlementRequestBody
        UpdatePlanRequestBody:
            type: object
            properties:
                name:
                    type: string
            required:
                - name
            title: UpdatePlanRequestBody
        UpdateReqCommon:
            type: object
            properties:
                metric_period:
                    type: string
                    nullable: true
                value_bool:
                    type: boolean
                    nullable: true
                value_numeric:
                    type: integer
                    nullable: true
                value_trait_id:
                    type: string
                    nullable: true
                value_type:
                    type: string
            required:
                - value_type
            title: UpdateReqCommon
        UpdateRuleRequestBody:
            type: object
            properties:
                condition_groups:
                    type: array
                    items:
                        $ref: '#/components/schemas/CreateOrUpdateConditionGroupRequestBody'
                conditions:
                    type: array
                    items:
                        $ref: '#/components/schemas/CreateOrUpdateConditionRequestBody'
                name:
                    type: string
                priority:
                    type: integer
                priority_group:
                    type: integer
                    nullable: true
                value:
                    type: boolean
            required:
                - condition_groups
                - conditions
                - name
                - priority
                - value
            title: UpdateRuleRequestBody
        UpsertCompanyRequestBody:
            type: object
            properties:
                id:
                    type: string
                    nullable: true
                keys:
                    type: object
                last_seen_at:
                    type: string
                    format: date-time
                    nullable: true
                name:
                    type: string
                    nullable: true
                traits:
                    type: object
                    description: A map of trait names to trait values
                update_only:
                    type: boolean
                    nullable: true
            required:
                - keys
            title: UpsertCompanyRequestBody
        UpsertUserRequestBody:
            type: object
            properties:
                company:
                    type: object
                    description: Optionally specify company using key/value pairs
                company_id:
                    type: string
                    description: Optionally specify company using Schematic company ID
                    nullable: true
                keys:
                    type: object
                last_seen_at:
                    type: string
                    format: date-time
                    nullable: true
                name:
                    type: string
                    nullable: true
                traits:
                    type: object
                    description: A map of trait names to trait values
                update_only:
                    type: boolean
                    nullable: true
            required:
                - keys
                - company
            title: UpsertUserRequestBody
        UpsertUserSubRequestBody:
            type: object
            properties:
                company_id:
                    type: string
                    description: Optionally specify company using Schematic company ID
                    nullable: true
                keys:
                    type: object
                last_seen_at:
                    type: string
                    format: date-time
                    nullable: true
                name:
                    type: string
                    nullable: true
                traits:
                    type: object
                    description: A map of trait names to trait values
                update_only:
                    type: boolean
                    nullable: true
            required:
                - keys
            title: UpsertUserSubRequestBody
        UserDetailResponseData:
            type: object
            properties:
                company_memberships:
                    type: array
                    items:
                        $ref: '#/components/schemas/CompanyMembershipDetailResponseData'
                created_at:
                    type: string
                    format: date-time
                environment_id:
                    type: string
                id:
                    type: string
                keys:
                    type: array
                    items:
                        $ref: '#/components/schemas/EntityKeyResponseData'
                last_seen_at:
                    type: string
                    format: date-time
                    nullable: true
                name:
                    type: string
                traits:
                    type: object
                    description: A map of trait names to trait values
                updated_at:
                    type: string
                    format: date-time
            required:
                - id
                - environment_id
                - name
                - created_at
                - updated_at
                - keys
                - company_memberships
            title: UserDetailResponseData
        UserResponseData:
            type: object
            properties:
                created_at:
                    type: string
                    format: date-time
                environment_id:
                    type: string
                id:
                    type: string
                last_seen_at:
                    type: string
                    format: date-time
                    nullable: true
                name:
                    type: string
                updated_at:
                    type: string
                    format: date-time
            required:
                - id
                - environment_id
                - name
                - created_at
                - updated_at
            title: UserResponseData
paths:
    /api-keys:
        get:
            operationId: listApiKeys
            summary: List api keys
            tags:
                - accounts
            parameters:
                - name: X-Schematic-Environment-Id
                  in: header
                  description: If the request is made using an API key that is not environment-scoped, specify the environment using this header
                  schema:
                    type: string
                    title: EnvironmentIDParam
                - name: environment_id
                  in: query
                  schema:
                    type: string
                - name: require_environment
                  in: query
                  required: true
                  schema:
                    type: boolean
                - name: limit
                  in: query
                  description: Page limit (default 100)
                  schema:
                    type: integer
                - name: offset
                  in: query
                  description: Page offset (default 0)
                  schema:
                    type: integer
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        type: array
                                        description: The returned resources
                                        items:
                                            $ref: '#/components/schemas/ApiKeyResponseData'
                                        title: ListApiKeysResponseData
                                    params:
                                        type: object
                                        description: Input parameters
                                        properties:
                                            environment_id:
                                                type: string
                                            limit:
                                                type: integer
                                            offset:
                                                type: integer
                                            require_environment:
                                                type: boolean
                                        title: ListApiKeysParams
                                required:
                                    - data
                                    - params
                                title: ListApiKeysResponse
                "400":
                    $ref: '#/components/responses/BadRequest'
                "401":
                    $ref: '#/components/responses/Unauthorized'
                "403":
                    $ref: '#/components/responses/Forbidden'
                "500":
                    $ref: '#/components/responses/ServerError'
        post:
            operationId: createApiKey
            summary: Create api key
            tags:
                - accounts
            parameters:
                - name: X-Schematic-Environment-Id
                  in: header
                  description: If the request is made using an API key that is not environment-scoped, specify the environment using this header
                  schema:
                    type: string
                    title: EnvironmentIDParam
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CreateApiKeyRequestBody'
                required: true
            responses:
                "201":
                    description: Created
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        $ref: '#/components/schemas/ApiKeyCreateResponseData'
                                    params:
                                        type: object
                                        description: Input parameters
                                        title: CreateApiKeyParams
                                required:
                                    - data
                                    - params
                                title: CreateApiKeyResponse
                "400":
                    $ref: '#/components/responses/BadRequest'
                "401":
                    $ref: '#/components/responses/Unauthorized'
                "403":
                    $ref: '#/components/responses/Forbidden'
                "500":
                    $ref: '#/components/responses/ServerError'
    /api-keys/{api_key_id}:
        get:
            operationId: getApiKey
            summary: Get api key
            tags:
                - accounts
            parameters:
                - name: X-Schematic-Environment-Id
                  in: header
                  description: If the request is made using an API key that is not environment-scoped, specify the environment using this header
                  schema:
                    type: string
                    title: EnvironmentIDParam
                - name: api_key_id
                  in: path
                  description: api_key_id
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        $ref: '#/components/schemas/ApiKeyResponseData'
                                    params:
                                        type: object
                                        description: Input parameters
                                        title: GetApiKeyParams
                                required:
                                    - data
                                    - params
                                title: GetApiKeyResponse
                "401":
                    $ref: '#/components/responses/Unauthorized'
                "403":
                    $ref: '#/components/responses/Forbidden'
                "404":
                    $ref: '#/components/responses/NotFound'
                "500":
                    $ref: '#/components/responses/ServerError'
        put:
            operationId: updateApiKey
            summary: Update api key
            tags:
                - accounts
            parameters:
                - name: X-Schematic-Environment-Id
                  in: header
                  description: If the request is made using an API key that is not environment-scoped, specify the environment using this header
                  schema:
                    type: string
                    title: EnvironmentIDParam
                - name: api_key_id
                  in: path
                  description: api_key_id
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/UpdateApiKeyRequestBody'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        $ref: '#/components/schemas/ApiKeyResponseData'
                                    params:
                                        type: object
                                        description: Input parameters
                                        title: UpdateApiKeyParams
                                required:
                                    - data
                                    - params
                                title: UpdateApiKeyResponse
                "400":
                    $ref: '#/components/responses/BadRequest'
                "401":
                    $ref: '#/components/responses/Unauthorized'
                "403":
                    $ref: '#/components/responses/Forbidden'
                "404":
                    $ref: '#/components/responses/NotFound'
                "500":
                    $ref: '#/components/responses/ServerError'
        delete:
            operationId: deleteApiKey
            summary: Delete api key
            tags:
                - accounts
            parameters:
                - name: X-Schematic-Environment-Id
                  in: header
                  description: If the request is made using an API key that is not environment-scoped, specify the environment using this header
                  schema:
                    type: string
                    title: EnvironmentIDParam
                - name: api_key_id
                  in: path
                  description: api_key_id
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        $ref: '#/components/schemas/DeleteResponse'
                                    params:
                                        type: object
                                        description: Input parameters
                                        title: DeleteApiKeyParams
                                required:
                                    - data
                                    - params
                                title: DeleteApiKeyResponse
                "400":
                    $ref: '#/components/responses/BadRequest'
                "401":
                    $ref: '#/components/responses/Unauthorized'
                "403":
                    $ref: '#/components/responses/Forbidden'
                "500":
                    $ref: '#/components/responses/ServerError'
    /api-keys/count:
        get:
            operationId: countApiKeys
            summary: Count api keys
            tags:
                - accounts
            parameters:
                - name: X-Schematic-Environment-Id
                  in: header
                  description: If the request is made using an API key that is not environment-scoped, specify the environment using this header
                  schema:
                    type: string
                    title: EnvironmentIDParam
                - name: environment_id
                  in: query
                  schema:
                    type: string
                - name: require_environment
                  in: query
                  required: true
                  schema:
                    type: boolean
                - name: limit
                  in: query
                  description: Page limit (default 100)
                  schema:
                    type: integer
                - name: offset
                  in: query
                  description: Page offset (default 0)
                  schema:
                    type: integer
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        $ref: '#/components/schemas/CountResponse'
                                    params:
                                        type: object
                                        description: Input parameters
                                        properties:
                                            environment_id:
                                                type: string
                                            limit:
                                                type: integer
                                            offset:
                                                type: integer
                                            require_environment:
                                                type: boolean
                                        title: CountApiKeysParams
                                required:
                                    - data
                                    - params
                                title: CountApiKeysResponse
                "400":
                    $ref: '#/components/responses/BadRequest'
                "401":
                    $ref: '#/components/responses/Unauthorized'
                "403":
                    $ref: '#/components/responses/Forbidden'
                "500":
                    $ref: '#/components/responses/ServerError'
    /api-requests:
        get:
            operationId: listApiRequests
            summary: List api requests
            tags:
                - accounts
            parameters:
                - name: X-Schematic-Environment-Id
                  in: header
                  description: If the request is made using an API key that is not environment-scoped, specify the environment using this header
                  schema:
                    type: string
                    title: EnvironmentIDParam
                - name: q
                  in: query
                  schema:
                    type: string
                - name: limit
                  in: query
                  description: Page limit (default 100)
                  schema:
                    type: integer
                - name: offset
                  in: query
                  description: Page offset (default 0)
                  schema:
                    type: integer
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        type: array
                                        description: The returned resources
                                        items:
                                            $ref: '#/components/schemas/ApiKeyRequestListResponseData'
                                        title: ListApiRequestsResponseData
                                    params:
                                        type: object
                                        description: Input parameters
                                        properties:
                                            limit:
                                                type: integer
                                            offset:
                                                type: integer
                                            q:
                                                type: string
                                        title: ListApiRequestsParams
                                required:
                                    - data
                                    - params
                                title: ListApiRequestsResponse
                "400":
                    $ref: '#/components/responses/BadRequest'
                "401":
                    $ref: '#/components/responses/Unauthorized'
                "403":
                    $ref: '#/components/responses/Forbidden'
                "500":
                    $ref: '#/components/responses/ServerError'
    /api-requests/{key}:
        get:
            operationId: getApiRequest
            summary: Get api request
            tags:
                - accounts
            parameters:
                - name: X-Schematic-Environment-Id
                  in: header
                  description: If the request is made using an API key that is not environment-scoped, specify the environment using this header
                  schema:
                    type: string
                    title: EnvironmentIDParam
                - name: key
                  in: path
                  description: key
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        $ref: '#/components/schemas/ApiKeyRequestResponseData'
                                    params:
                                        type: object
                                        description: Input parameters
                                        title: GetApiRequestParams
                                required:
                                    - data
                                    - params
                                title: GetApiRequestResponse
                "401":
                    $ref: '#/components/responses/Unauthorized'
                "403":
                    $ref: '#/components/responses/Forbidden'
                "404":
                    $ref: '#/components/responses/NotFound'
                "500":
                    $ref: '#/components/responses/ServerError'
    /api-requests/count:
        get:
            operationId: countApiRequests
            summary: Count api requests
            tags:
                - accounts
            parameters:
                - name: X-Schematic-Environment-Id
                  in: header
                  description: If the request is made using an API key that is not environment-scoped, specify the environment using this header
                  schema:
                    type: string
                    title: EnvironmentIDParam
                - name: q
                  in: query
                  schema:
                    type: string
                - name: limit
                  in: query
                  description: Page limit (default 100)
                  schema:
                    type: integer
                - name: offset
                  in: query
                  description: Page offset (default 0)
                  schema:
                    type: integer
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        $ref: '#/components/schemas/CountResponse'
                                    params:
                                        type: object
                                        description: Input parameters
                                        properties:
                                            limit:
                                                type: integer
                                            offset:
                                                type: integer
                                            q:
                                                type: string
                                        title: CountApiRequestsParams
                                required:
                                    - data
                                    - params
                                title: CountApiRequestsResponse
                "400":
                    $ref: '#/components/responses/BadRequest'
                "401":
                    $ref: '#/components/responses/Unauthorized'
                "403":
                    $ref: '#/components/responses/Forbidden'
                "500":
                    $ref: '#/components/responses/ServerError'
    /audience/count-companies:
        post:
            operationId: countCompaniesAudience
            summary: Count Companies audience
            tags:
                - features
            parameters:
                - name: X-Schematic-Environment-Id
                  in: header
                  description: If the request is made using an API key that is not environment-scoped, specify the environment using this header
                  schema:
                    type: string
                    title: EnvironmentIDParam
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/AudienceRequestBody'
                required: true
            responses:
                "201":
                    description: Created
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        $ref: '#/components/schemas/CountResponse'
                                    params:
                                        type: object
                                        description: Input parameters
                                        title: CountCompaniesAudienceParams
                                required:
                                    - data
                                    - params
                                title: CountCompaniesAudienceResponse
                "400":
                    $ref: '#/components/responses/BadRequest'
                "401":
                    $ref: '#/components/responses/Unauthorized'
                "403":
                    $ref: '#/components/responses/Forbidden'
                "500":
                    $ref: '#/components/responses/ServerError'
    /audience/count-users:
        post:
            operationId: countUsersAudience
            summary: Count Users audience
            tags:
                - features
            parameters:
                - name: X-Schematic-Environment-Id
                  in: header
                  description: If the request is made using an API key that is not environment-scoped, specify the environment using this header
                  schema:
                    type: string
                    title: EnvironmentIDParam
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/AudienceRequestBody'
                required: true
            responses:
                "201":
                    description: Created
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        $ref: '#/components/schemas/CountResponse'
                                    params:
                                        type: object
                                        description: Input parameters
                                        title: CountUsersAudienceParams
                                required:
                                    - data
                                    - params
                                title: CountUsersAudienceResponse
                "400":
                    $ref: '#/components/responses/BadRequest'
                "401":
                    $ref: '#/components/responses/Unauthorized'
                "403":
                    $ref: '#/components/responses/Forbidden'
                "500":
                    $ref: '#/components/responses/ServerError'
    /audience/get-companies:
        post:
            operationId: getCompaniesAudience
            summary: Get Companies audience
            tags:
                - features
            parameters:
                - name: X-Schematic-Environment-Id
                  in: header
                  description: If the request is made using an API key that is not environment-scoped, specify the environment using this header
                  schema:
                    type: string
                    title: EnvironmentIDParam
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/AudienceRequestBody'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        type: array
                                        description: The returned resources
                                        items:
                                            $ref: '#/components/schemas/CompanyDetailResponseData'
                                        title: GetCompaniesAudienceResponseData
                                    params:
                                        type: object
                                        description: Input parameters
                                        title: GetCompaniesAudienceParams
                                required:
                                    - data
                                    - params
                                title: GetCompaniesAudienceResponse
                "400":
                    $ref: '#/components/responses/BadRequest'
                "401":
                    $ref: '#/components/responses/Unauthorized'
                "403":
                    $ref: '#/components/responses/Forbidden'
                "500":
                    $ref: '#/components/responses/ServerError'
    /audience/get-users:
        post:
            operationId: getUsersAudience
            summary: Get Users audience
            tags:
                - features
            parameters:
                - name: X-Schematic-Environment-Id
                  in: header
                  description: If the request is made using an API key that is not environment-scoped, specify the environment using this header
                  schema:
                    type: string
                    title: EnvironmentIDParam
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/AudienceRequestBody'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        type: array
                                        description: The returned resources
                                        items:
                                            $ref: '#/components/schemas/UserDetailResponseData'
                                        title: GetUsersAudienceResponseData
                                    params:
                                        type: object
                                        description: Input parameters
                                        title: GetUsersAudienceParams
                                required:
                                    - data
                                    - params
                                title: GetUsersAudienceResponse
                "400":
                    $ref: '#/components/responses/BadRequest'
                "401":
                    $ref: '#/components/responses/Unauthorized'
                "403":
                    $ref: '#/components/responses/Forbidden'
                "500":
                    $ref: '#/components/responses/ServerError'
    /companies:
        get:
            operationId: listCompanies
            summary: List companies
            tags:
                - companies
            parameters:
                - name: X-Schematic-Environment-Id
                  in: header
                  description: If the request is made using an API key that is not environment-scoped, specify the environment using this header
                  schema:
                    type: string
                    title: EnvironmentIDParam
                - name: ids
                  in: query
                  schema:
                    type: array
                    items:
                        type: string
                - name: limit
                  in: query
                  description: Page limit (default 100)
                  schema:
                    type: integer
                - name: offset
                  in: query
                  description: Page offset (default 0)
                  schema:
                    type: integer
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        type: array
                                        description: The returned resources
                                        items:
                                            $ref: '#/components/schemas/CompanyResponseData'
                                        title: ListCompaniesResponseData
                                    params:
                                        type: object
                                        description: Input parameters
                                        properties:
                                            ids:
                                                type: array
                                                items:
                                                    type: string
                                            limit:
                                                type: integer
                                            offset:
                                                type: integer
                                        title: ListCompaniesParams
                                required:
                                    - data
                                    - params
                                title: ListCompaniesResponse
                "400":
                    $ref: '#/components/responses/BadRequest'
                "401":
                    $ref: '#/components/responses/Unauthorized'
                "403":
                    $ref: '#/components/responses/Forbidden'
                "500":
                    $ref: '#/components/responses/ServerError'
        post:
            operationId: createCompany
            summary: Create company
            tags:
                - companies
            parameters:
                - name: X-Schematic-Environment-Id
                  in: header
                  description: If the request is made using an API key that is not environment-scoped, specify the environment using this header
                  schema:
                    type: string
                    title: EnvironmentIDParam
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/UpsertCompanyRequestBody'
                required: true
            responses:
                "201":
                    description: Created
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        $ref: '#/components/schemas/CompanyDetailResponseData'
                                    params:
                                        type: object
                                        description: Input parameters
                                        title: CreateCompanyParams
                                required:
                                    - data
                                    - params
                                title: CreateCompanyResponse
                "400":
                    $ref: '#/components/responses/BadRequest'
                "401":
                    $ref: '#/components/responses/Unauthorized'
                "403":
                    $ref: '#/components/responses/Forbidden'
                "500":
                    $ref: '#/components/responses/ServerError'
    /companies/{company_id}:
        get:
            operationId: getCompany
            summary: Get company
            tags:
                - companies
            parameters:
                - name: X-Schematic-Environment-Id
                  in: header
                  description: If the request is made using an API key that is not environment-scoped, specify the environment using this header
                  schema:
                    type: string
                    title: EnvironmentIDParam
                - name: company_id
                  in: path
                  description: company_id
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                type: object
[...]
